.nav1 {
  background-color: #ff0500;
}


/* ===============================  mobile first ================================= */

.logo {
  height: 20px;
  width: 132px;
}

.subscribe {
  color: black;
  background-color: yellow;
  font: bold 13px/24px "Roboto Condensed",sans-serif;
  border-radius: 11px;
  margin: 0 10px;
}

.buttons a {
  padding: 5px 5px;
}

.button-grey {
  color: lightgray;
}

.category {
  position: absolute;
	bottom: 0;
	left: 0;
  padding: 0;
}

.category a , .category a:hover {
  color: #ff0500;
  text-decoration: none;
}